
@import "bootstrap.less";

@import "filebrowser";

@import "signin";

@import "api";

@import "../../../theme_components/bower/angular-hotkeys/build/hotkeys.min.css";

.angular-google-map-container { height: 400px; }
.angular-google-map.extended .angular-google-map-container { height: 600px; }

@dashboard-title-bg: @navbar-default-bg;
@dashboard-border-color: @navbar-default-border;
@dashboard-border-radius: 5px;

.dashboard-statistics {
    margin: 15px 0;

    .statistic {
        border: 1px solid @dashboard-border-color;
        border-radius: @dashboard-border-radius;

        .title {
            border-bottom: 1px solid @dashboard-border-color;
            background-color: @dashboard-title-bg;
        }

        .title, .content {
            padding: 5px;
        }
    }
}

.loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    z-index: 1060;
    background-color: #ffffff;
    padding: 5px;

    border: 1px solid @dashboard-border-color;
    border-radius: @dashboard-border-radius;
}

.result {
    margin: 15px 0;
    border-top: 1px solid @dashboard-border-color;
    padding-top: 5px;

    hr.letter-separator {
      margin-top: 40px;
      margin-bottom: 60px;
    }
}

.info-add {
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid @alert-success-bg;
    border-radius: @alert-border-radius;
}
.info-remove {
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid @alert-danger-bg;
    border-radius: @alert-border-radius;
}

.messages {
    position: fixed;
    width: 25%;
    right: 10px;
    top: 52px;
    z-index: 999;
    opacity: 0.8;
}

.tab-pane {
    background: #f8f8f8;
    border: 1px solid @gray-lighter;
    border-top: none;
    box-shadow: 0 0 3px #b7b7b7;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px;
}

.shortcut-help {
    margin-top: 10px;
    color: #777;
    margin-bottom: 10px;
    text-align: right;
}

.nav-tabs a {
    cursor: pointer;
}

.display-filters .checkbox {
    margin-top: 3px;
}

.nothing-found {
    text-align: center;
}