
@import "bootstrap.less";

@import "filebrowser.less";

@import "signin.less";

.angular-google-map-container { height: 400px; }

@dashboard-title-bg: @navbar-default-bg;
@dashboard-border-color: @navbar-default-border;
@dashboard-border-radius: 5px;

.dashboard-statistics {
  margin: 15px 0;

  .statistic {
    border: 1px solid @dashboard-border-color;
    border-radius: @dashboard-border-radius;

    .title {
      border-bottom: 1px solid @dashboard-border-color;
      background-color: @dashboard-title-bg;
    }

    .title, .content {
      padding: 5px;
    }
  }
}

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  z-index: 100;
  background-color: #ffffff;
  padding: 5px;

  border: 1px solid @dashboard-border-color;
  border-radius: @dashboard-border-radius;
}